<?php

return [
    'db' => [
        'database' => 'pissykaka',
        'hostname' => 'localhost',
        'username' => 'root',
        'password' => 'root'
    ],
    'maintenance_key' => 'test'
];
